*{
    margin: 0%;
    padding: 0%;
    /* background:#181818; */
}

.main{
    height: 100px;
    width: 100%;
    background-color:#181818;
    align-items: center;
   
}
.header{
     background: color #333;; 
    width: 100%;
    height: 100px;
    position: relative;
   
}
.head_icon{

   padding-right: 50px;
   margin-left: 96px;
   width: 130px;
   height: 58px;
  
   
}

.list{
    display: flex;
   margin-top: 50px;
   margin-left: -299px;
   justify-content: space-between;
   list-style: none;
   letter-spacing: 1px;
   cursor: pointer;
}
.list li{
    font-family: Sans-Serif;
    font-weight: bold;
    
    
  
}
.head_icon  img{
    height: 58.15px;
    width: 130px;
    /* position: absolute; */
    /* background:#181818; */
    
    margin-left: 20px;
    margin-top: -45px;
   
}
.text{
    margin-left: 341px;
    float: left;
    color: rgb(253, 253, 253);
    display: flex;
    margin-top: 15px;
    font-family: JLR Proxima Nova, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
   

    
    
}
.text1{
    margin-left: 20px;   

}
.firstimage img{
    margin-left: 80px;
    height: 715.41px;
    width: 1360px;
}
.firstimage{
    background-color: #181818;
}
.section2{
   background-color:#181818 ;
   width: 100%;
   height: 160vhvh;
}
.white_space{
    margin-top: -4px;
    padding: 20px;
    width: 86.9%;
    height: 90vh;
    background-color: white;
    margin-left: 80px;
    position: relative;
   
}
.img1 img{
height: 357.7px;
width: 680px;
margin-left: -20px;
margin-top:  -15px;
position: absolute;

}
.section_half{
    width: 49%;
    
    position: absolute;
    height: 357.7px;
    margin-left: 672px;
    margin-top: 20px;
    text-align: center;
}
.section_half h1{
    font-family: Arial,Helvetica,sans-serif;
   margin-top:91px;
   letter-spacing: 7px;
   font-weight:lighter;
   font-size: 23px;
}
.section_half button{
    background-color:#A41632;
    color: white;
    border: none;
    width: 172px;
    height: 26px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}
.section_half p{
    margin-top: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
}
.next_half{
    width: 38%;
    position: absolute;
    height: 62.7px;
    margin: top 326px;
    text-align: center;
    padding-top: 502px;
    font-family: Arial,Helvetica,sans-serif;
   
    font-size: 12px;
}
.next_half h1{
    letter-spacing: 3px;
    font-weight:lighter;
    margin-left: 100px;
    margin-top: -40px;
}
.next_half p{
    font-weight:lighter;
    font-size: 13px;
    margin: left 4px;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: 30px;
    width: 600px;
}
.next_half button{
    margin-left: 70px;
    background-color:#A41632;
    color: white;
    border: none;
    margin-top: 30px;
    width: 170px;
    height: 30px;
}
.section3 img{
height: 338.5px;
width: 680px;
margin-left: 658px;
margin-top:  348px;
position: absolute;
}
.footer{
    width: 100%;
    background-color:#000;
    position: absolute;
    height: 350px;
    margin-top: -9px;
}
.about_section{
    width: 100%;
    height: 300px;
    margin-top: 40px;
    position: absolute;
    background-color:black;


}
.about_section h1{
    text-align: center;
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin-top: 50px;
    
}
.about_section p{
    text-align: center;
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin-top: 25px;
    font-weight:lighter; 

}
.about_section h2{
    text-align: center;
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin-top: 8px;
    font-weight:lighter; 

}
.about_section h3{
    text-align: center;
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin-top: 8px;
    font-weight:lighter; 

}




 
 .legal_section p{
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin-top: 90px;
    position: absolute;
    margin-left: 510px;
    font-weight:bolder;
    
 }
 .legal_section h1{
   color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin-top: 128px;
    position: absolute;
    font-weight:lighter;
    margin-left: 500px;
 }
 .land_rover p{
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin-top: -100px;
    position: absolute;
    margin-left: 930px;
    font-weight:bolder;

 }
 .land_rover h1{
    color: #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin-top: -65px;
    position: absolute;
    font-weight:lighter;
    margin-left: 975px;
 }
 .the_art_of_performance p{
    color:  #999;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    font-weight:lighter; 
    text-align: center;  
    padding-top: 15px;
 }
 .the_art_of_performance h1
{
    
    font-weight:lighter;   
   color: #999;
    text-align: center;
    font-size: 12px;
    padding-top: 25px;
    font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;

}
.the_art_of_performance{
    width: 100%;
    height: 230px;
    margin-top:346px;;
    background-color:#000;
    position: absolute;
}
.the_art_of_performance img{
    width: 250px;
    height: 54px;
    padding-left: 634px;
    padding-top: 40px;
    }
    .icons img{
        width: 220px;
        height: 35px;
        margin-left: 645px;
        margin-top: 70px;


    }
     .final p{
        color: #999;
        
        font-size: 12px;
       margin-left: 670px;
       position: absolute;
        font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
        margin-top: 470px;
        font-weight:lighter;
}
.final h1{
    font-size: 12px;
    margin-left: 666px;
    position: absolute;
     font-family: "JLR Proxima Nova", Arial, Helvetica, Sans-Serif;
     margin-top: 500px;
     font-weight:lighter;
     color: #999;
     text-align: center;
}
    
